* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: auto;
  background-color: deeppink;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.header>:first-child {
  margin-right: auto;
}

.head-box {
  background-color: plum;
  height: 70px;
  margin: 0 10px;
  flex-basis: 140px;
}

.main {
  display: flex;
  justify-content: center;
}

.side-left {
  background-color: lightgreen;
  width: 300px;
}

.side-right {
  background-color: green;
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  height: 130px;
  background-color: yellow;
  flex-basis: 200px;
  margin: 10px;
}

.footer {
  background-color: rgb(0, 140, 255);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-box {
  background-color: skyblue;
  flex-basis: 45%;;
  height: 40px;
  margin: 10px;
}